# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
'.source.js':
  'Debugger':
    'prefix': 'd'
    'body': "debugger"
    'description': 'Node inspector debug breakpoint'
  'Logger.Verbose':
    'prefix': 'lv'
    'body': "logger.verbose(`$1`);"
    'description': 'Winston logger message'
  'Unit Test - Test Case':
    'prefix': 'test'
    'body': """
      describe(`${1:Case}`, function() {
        it(`should $2`, function() {
          // 1. Arrange

          // 2. Act

          // 3. Assert

        });
      });"""
    'description': 'Inserts a template unit test case'
    'rightLabelHTML': '<span style="color:#ff0">Unit Test Template</span>'
  'Unit Test - Describe Block':
    'prefix': 'des'
    'body': """
      describe(`$1`, function() {
        $2
      });"""
    'description': 'Inserts a template unit test describe block'
    'rightLabelHTML': '<span style="color:#ff0">Unit Test Describe Block</span>'
